<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <caption>Меню</caption>
            <tr>
                <th>Пункт первый</th>
            </tr>
            <tr>
                <th>Пункт второй</th>
            </tr>
            <tr>
                <th>Пункт третий</th>
            </tr>
            <tr>
                <th>Пункт четвёртый</th>
            </tr>
    </table>
</body>
</html>